.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  position: relative;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 70%);
  padding: 20px;
  text-align: center;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 15%;
  top: 15%;
}

.logo img {
  width: 150px;
  margin-bottom: 20px;
}

.transaction-message {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  text-align: start;
}

.right-section, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 370px;
  gap: 2.5em;
  margin: 0 auto;
}
.lang-btn {
  position: absolute;
  top: 5%;
  right: 0;

  button {
    background: none;
    border: none;
    border-right: 1px solid;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

form {
  margin: 0 auto;
}

.phone-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    font-size: 12px;
    color: rgba(77, 77, 77, 50%);
  }
}

.country-code-container, .phone-input-container {
  display: flex;
  flex-direction: column;
}

.password-container {
  width: 100%;
  position: relative;;
}

.fa {
  position: absolute;
  right: 1em;
  top: 1.4em;
}



.error-message {
  color: red;
  font-size: 10px;
  margin: 0;
}
.invalid-input {
  border: 2px solid red;
  background-color: #f8d7da;
}

input {
  height: 38px;
  width: 236px;
  border: 1px solid rgba(0, 0, 0, 20%);
  border-radius: 0 10px 10px 0;
  padding: 10px;
  font-size: 16px;
  margin-top: 12px;

  &:focus-visible {
    outline: none;
  }

}

#phone {
  &:-internal-autofill-selected-internal-autofill-selected {
    background-color: #fff !important;
  }
}

#password {
  width: 100%;
  border-radius: 10px;

  &:-internal-autofill-selected-internal-autofill-selected {
    background-color: #fff !important;
  }
}

#handle-btn {
  width: 200px;
  height: 40px;
  border: none;
  color: #ffffff;
  background: #F87424;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  &{
    &:disabled {
      background-color: #d3d3d3;
      color: #a1a1a1;
      cursor: not-allowed;
    }
  }
}


/**** Media ******/

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .lang-btn {
    top: 52%;
  }
  .logo {
    left: 25%;
    top: 30%;
  }

  .logo img {
    width: 200px;
  }
  .transaction-message {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .logo {
    left: 15%;
    top: 30%;
  }
}

@media (max-height: 420px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    left: 15%;
  }
}
