.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 70%);
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}
.logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.transaction-message {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  text-align: start;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 370px;
  margin: 0 auto;
  gap: 2.5em;
}

.phone-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  label {
    font-size: 12px;
    color: rgba(77, 77, 77, 50%);
  }
}

.country-code-container, .phone-input-container {
  display: flex;
  flex-direction: column;
  gap: 13px
}


input {
  height: 38px;
  width: 236px;
  border: 1px solid rgba(0, 0, 0, 20%);
  border-radius:  0 10px 10px 0 ;
  padding: 10px;
  font-size: 16px;
  &:focus-visible {
    outline: none;
  }
  &:-internal-autofill-selected-internal-autofill-selected {
    background-color: #fff !important;
  }
}
#password {
  width: 100%;
  border-radius:  10px;
}

#handle-btn {
  width: 200px;
  height: 40px;
  border: none;
  color: #ffffff;
  background: #F87424;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
}
select {
  padding: 0 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/assets/drobdown.png');
  border: 1px solid red;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
}


.password-container {
  width: 100%;
  position: relative;;
}
.fa {
  position: absolute;
  right: 1em;
  top: 0.7em;
}

/**** Media ******/

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .logo {
    align-items: center;
  }

}
